@use "./mixins" as *;

// --------------------------------------------------
// import fonts

@font-face {
  font-family: "Avenir-Next", Helvetica, sans-serif;
  src: url("/src/assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Avenir-Next", Helvetica, sans-serif;
  src: url("/src/assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}

// global styles

html,
body {
  font-family: "Avenir-Next", Helvetica, sans-serif;
}

// default - mobile text styles

h1 {
  @include font-source(1.5rem, 2rem, 700); // Page Header
}

h2 {
  @include font-source(0.75rem, 1.25rem, 700); // Section Header
}

h3 {
  @include font-source(0.813rem, 1.125rem, 700); // Sub-Header
}

p {
  @include font-source(0.813rem, 1.125rem, 400); // Body & Footer
}

// default - desktop & tablet

@include tablet {
  h1 {
    @include font-source(2.063rem, 2.75rem, 700); // Page Header
  }

  h2 {
    @include font-source(0.75rem, 1.25rem, 700); // Section Header
  }

  h3 {
    @include font-source(0.875rem, 1.375rem, 400); // Sub-Header
  }

  p {
    @include font-source(0.875rem, 1.375rem, 400); // Body
  }
}
