// ---------------------------------------------------------

// Primary Colors
$primary-1: #323232; // BrainFlix-Black
$primary-2: #0095ff; // BrainFlix-Blue
$primary-3: #afafaf; // Silver
$primary-4: #ffffff; // White

// Secondary Colors
$secondary-1: #000000; // BrainFlix-DarkBlack
$secondary-2: #0065ad; // BrainFlix-DarkBlue
$secondary-3: #e1e1e1; // Mercury
$secondary-4: #fafafa; // Alabaster

// --------------------------------------------------
