@use "../../../styles/partials/core/mixins" as *;
@use "../../../styles/partials/core/variables" as *;

.search-field {
  @include flex(null, center);
  background-color: $secondary-4;
  border: 0.063rem solid $secondary-3; // 1px
  border-radius: 0.25rem; // 4px
  margin: 0 1rem 1rem 0; // 16px
  width: 15rem; // 240px

  &__nav-search-icon {
    padding-left: 0.625rem; // 10px
  }

  &__input--state {
    @include height-width(2.25rem, 100%); //36px
    background: none;
    border: none;
    outline: none;
    border-radius: 0.25rem; // 4px
    padding: 0.75rem; // 12px
  }
}

@include tablet {
  .search-field {
    margin-bottom: 0;

    &__nav-search-container {
      margin-right: 1.5rem; // 24px
    }
  }
}

@include desktop {
  .search-field:focus-within {
    border: 0.125rem solid $primary-2; // 2px
  }
}
