@use "../../../styles/partials/core/mixins" as *;
@use "../../../styles/partials/core/variables" as *;

.button {
  @include font-source(0.75rem, 1.25rem, 700); // LABELS & BUTTONS

  &__container {
    @include flex(null, center);
    @include height-width(2.5rem, 100%); // 40px
    background-color: $primary-2;
    border-radius: 0.25rem; // 4px
    padding: 0 0.625; // 10px
  }

  &__icon {
    flex-grow: 0;
    padding-left: 0.625rem; // 10px
  }

  &__button {
    background: none;
    border: none;
    outline: none;
    color: $primary-4;
    margin-right: 1.875rem; // 30px
    flex-grow: 1;
  }

  &__container-comment {
    margin-bottom: 1rem; // 16px
  }
}

@include tablet {
  .button {
    &__container {
      width: 9.375rem; // 150px
    }

    &__button {
      margin: 0;
    }

    &__container-upload {
      margin-right: 1rem; // 16px
    }

    &__container-comment {
      width: 15.625rem; //250px
      margin-left: 1.5rem; // 24px
      margin-bottom: 0;
    }
  }
}

@include desktop {
  .button {
    &__container {
      cursor: pointer;

      &:hover {
        background-color: $secondary-2;
      }
    }

    &__button {
      cursor: pointer;
    }
  }
}
