@use "../../../styles/partials/core/mixins" as *;
@use "../../../styles/partials/core/variables" as *;

.page-divide {
  border: none;
  color: $secondary-3;
  background-color: $secondary-3;
  align-items: center;
  height: 0.063rem; // 1px
  margin: 0 1rem; // 16px

  &__item--mobile {
    margin: 0;
  }

  &__item--upload-page-mobile {
    margin: 0;
  }

  &__item--upload-page-tablet {
    display: none;
  }
}

@include tablet {
  .page-divide {
    margin: 0 2.25rem; // 36px

    &__item--mobile {
      display: none;
    }

    &__item--upload-page-mobile {
      margin: 0;
    }

    &__item--upload-page-tablet {
      display: block;
      margin: 0;
    }
  }
}

@include desktop {
  .page-divide {
    &__item--display-tablet {
      margin-left: 2.25rem; // 36px
      margin-right: 0;
    }

    &__item--upload-page-tablet {
      margin: 0;
    }
  }
}
